---
import browserEnv from "browser-env";
browserEnv();
import Demo from "../components/Demo.astro"
---
<html>
<head>
<style>
body {
  background: #09D;
}
</style>
</head>
<body>
<Demo />
</body>
</html>